$col:12;
$gutter: 5px;

.row{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: -$gutter/2;

    @for $i from 1 through $col{
        .col-#{$i}{
            width: (100%/$col) *$i;
            padding: $gutter/2;
        }
        
    }
}